
:root {
  --color-main: #ff0038;
  --color-text: #635f5e;
  --color-text-complement: #ccc;
  --color-text-shadow: #2a2625;
  --color-bg: #f9f9f9;
  --color-bg-complement: #fff;
}

html {
  font-size: 30px;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
button {
  font-family: "Harting", "Courier New", monospace;
}

div,
input,
select,
button {
  box-sizing: border-box;
}

h1,
input {
  margin: 1rem 0;
}

h1,
button,
input::placeholder {
  user-select: none;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
  // explicitly state line-height to prevent collapse when fontface swaps
  line-height: 1;
}

input {
  border-radius: 0;
  outline: 0 none;
}

button,
select {
  padding: 0;
  border: 0 none;
  border-radius: 0;
  outline: 0 none;
  background: transparent none;
  cursor: pointer;
}

a {
  color: var(--color-text);
  font-weight: bold;

  &:active,
  &:hover,
  &:focus {
    color: var(--color-main);
  }
}


@font-face {
  font-family: 'Harting';
  src: url('./assets/fonts/harting-plain-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

